<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile id="one">
      <input type="text" class="card_input" placeholder="Номер карты" /><input type="text" class="card_input" placeholder="CVC-код"/><br>
      <input type="text" class="card_input" placeholder="Имя владельца"/>
      <button type="button" class="btn btn-success" id="card_btn">Оплатить</button>
    </mat-grid-tile>
    <mat-grid-tile>
     <h3 align = "center">Электронные кошельки</h3>
    </mat-grid-tile>
    <mat-grid-tile>
     <h3 align = "center">Оплата наличными при получении</h3>
    </mat-grid-tile>
    <mat-grid-tile>
        <h3 align = "center">Активация бонус-кода</h3>
    </mat-grid-tile>
  </mat-grid-list>